.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



#navigation a {
  font-weight: bold;
  font-size: 1.2em;
  color: black;
  padding: 0px 8px;
  text-decoration: none;
}

/* Hide mobile menu by default */
.mobile-menu {
  display: none !important;
}

/* Show desktop menu by default */
.desktop-menu {
  display: block;
}

/* On smaller screens (under 768px), hide the desktop menu and show the mobile menu */
@media (max-width: 768px) {
  .mobile-menu {
    display: block !important;
  }

  .desktop-menu {
    display: none;
  }

  .navbar-nav .nav-link {
    padding: 10px 15px;
  }

  .navbar-collapse {
    background-color: white; /* Optional: Give a background color to the collapsed menu */
  }

  .navbar-toggler {
    border: none;
  }

  .btn-danger {
    margin: 10px 0;
  }
}

.maintext {
  margin:5px;
  border: 2px solid #11AACC; /* Border color */
  border-radius: 10px;
  text-align: center;
  padding: 20px; /* Increased padding */
  font-size: 1.5em;
  background-color: #ededed; /* Background color */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow for a subtle lift */
  color: #2c3e50; /* Text color */
  transition: background-color 0.3s, box-shadow 0.3s; /* Smooth transition effect */
}

.maintext > * {
  padding: 2px;
  margin: 5px;
  border-radius: 10px;
}

.subtext {
  font-size: 0.7em;
}

.highlightText {
  margin: 10px auto;
  width: 24%;
  border: 2px solid green; /* Border color */
  border-radius: 10px;
  text-align: center;
  padding: 20px; /* Increased padding */
  font-size: 1.5em;
  background-color: lightgreen; /* Background color */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow for a subtle lift */
  color: #2c3e50; /* Text color */
  transition: background-color 0.3s, box-shadow 0.3s; /* Smooth transition effect */
  font-weight: bold;
  color: black;
}

.highlightText a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

@media (max-width: 768px) {
  .highlightText {
    width: 80%;
  }
}

.asLink {
  color: blue;
}
/* 
.niceForm > * {
  padding: 2px;
  margin: 5px;
  border-radius: 10px;
}

.niceForm > * > * {
  padding: 2px;
  margin: 5px;
  border-radius: 10px;
}

.niceForm div {

  margin-bottom: 10px;
}

.vertical {
  display: flex;
  flex-direction: column;

} */

.niceForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.niceForm div {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

label {
  margin-bottom: 5px;
  display: block;
}

input {
  padding: 8px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 300px; /* Set a fixed width for the password boxes */
  box-sizing: border-box;
}

.highlightButtonsDiv {
  display: flex;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .highlightButtonsDiv {
    flex-direction: column;
  }
} 

.disciplinesDiv {
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  /* .disciplinesDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
  } */
  /* .disciplineHeading {
    margin-bottom: 10px;
  } */
  .disciplinesDiv {
    margin-bottom: 20px;
  }
  /* .disciplinesToggle {
    background-color: #fff;
    border: none;
    padding: 10px;
    width: 100%;
    text-align: left;
    cursor: pointer;
  }
  .disciplinesMenu {
    display: none;
    padding: 10px;
    border: 1px solid #ccc;
    border-top: none;
  } */
}

@media (max-width: 768px) {
  .disciplinesToggle {
    display: block;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
  }
}

@media (min-width: 769px) {
  .disciplinesToggle {
    display: none;
  }
}


.standingsDiv {
  text-align: center;
}

/* .IAMbutton {
  background-color: #068d8d!important;
  border: 1px solid #009879!important;
} */


.disciplineComplete {
  background-color: #aeeaea;
  width: fit-content;
  font-size: 1.1em;
  margin: 0 auto;
}

.compComplete {
  background-color: #61dafb;
  border: 5px solid black;
  border-radius: 10px;
  padding: 5px;
  width: fit-content;
  font-size: 1.5em;
  margin: 0 auto;
}

.champ-points {
  font-weight: bold;
  background-color: lightgoldenrodyellow;
}

.menuIcon {
  font-size: 1.5em;
  color: black;
  padding: 0px 3px;
}

.actionIcon {
  font-size: 1.4em;
  color: black;
  padding: 10px;
}

.displayIcon {
  font-size: 1.7em;
  color: black;
  padding: 10px;
}

.adminIcon {
  color: green;
}

.superAdminIcon {
  color: turquoise;
}

.disciplineHeading {
  display: inline-block;
  font-size: 1em;
  margin: 5px;
  padding: 8px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #F8D102; /* Funky background color */
  color: #333; /* Text color */
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition on hover */

  /* Hover effect */
  &:hover {
    background-color: #FF9800; /* Change to a different color on hover */
  }

  &.selected {
    background-color: #4CAF50; /* Change to a different color for selected */
    color: #FFF; /* Change text color for selected */
  }
}

.current-account {
  padding-left: 20px;
}

.niceTable {
    border-collapse: collapse;
    margin: 14px auto;
    width: 100%;
    font-size: 1em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.niceTable thead tr {
  background-color: #4CAF50;
  color: #ffffff;
}

.niceTable th,
.niceTable td {
    padding: 12px 15px;
}

/* On smaller screens (under 768px), hide the desktop menu and show the mobile menu */
@media (max-width: 768px) {
  .niceTable {
    min-width: 100px;
  }

  .niceTable th,
.niceTable td {
    padding: 2px 3px;
}

}

.setupTable {
  margin-left: 0px;
}

.adminTable thead tr {
  background-color: rgb(179, 22, 22);
}

.disciplineTable thead tr {
  background-color: rgb(243, 133, 60);
}

.niceTable tbody tr {
  border-bottom: 1px solid #dddddd;
}

.niceTable tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.niceTable tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.usersTable thead tr {
  background-color: #9132c9;
}

.competitionTable thead tr {
  background-color: #068d8d;
}

.resultsTable {
  border: 1px solid;
  overflow-x: auto;
}

.resultsTable thead tr {
  text-align: center;
}

.overallTable thead tr {
  background-color: #F8D102;
  color: black;
}

.corrections {
  width:400px;
}

.corrected {
  color: mediumseagreen;
}

.review {
  color: rgb(252, 104, 6);
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-message {
  margin-bottom: 20px;
  text-align: center;
}

.loading-animation {
  /* Add your loading animation styles here */
  width: 50px;
  height: 50px;
  border: 4px solid #ccc;
  border-radius: 50%;
  border-top-color: #3f51b5;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  to {
      transform: rotate(360deg);
  }
}

.login-text {
  font-size: 18px;
  color: #555;
}

.login-tips {
  text-align: left;
}

.tip {
  margin-bottom: 10px;
  font-size: 14px;
  color: #666;
}

.success-message {
  margin-bottom: 20px;
  font-size: 20px;
  text-align: center;
}